@model IEnumerable<InsectCatalog.Models.Insect>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@foreach (var insect in Model)
{
    <div class="row">
        <div class="col-xs-12">
            @insect.CommonName
        </div>
    </div>
}*@
